#SPDX-FileCopyrightText: 2025 Intevation GmbH
#SPDX-License-Identifier: Apache-2.0
#
name: "CSAF Provider"
on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  csaf:
    runs-on: ubuntu-24.04
    name: Create CSAF documents
    strategy:
      fail-fast: false

    steps:
    - name: Publish CSAF advisories
      uses: csaf-tools/csaf-action@v0
      with:
        publisher_name: Example Test Company
        publisher_namespace: https://test.example.com
        publisher_issuing_authority: "We at Example Test Company are responsible for publishing and maintaining Product Test."
        publisher_contact_details: "Example Test Company can be reached at contact_us@example.com or via our website at https://test.example.com/contact."
        source_csaf_documents: test/inputs/
        openpgp_secret_key: ${{ secrets.CSAF_OPENPGP_SECRET_KEY }}
        openpgp_public_key: ${{ secrets.CSAF_OPENPGP_KEY }}
        generate_index_files: true
        openpgp_use_signatures: false
